* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
}

section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background:
    linear-gradient(135deg, #1b6d73 0%, transparent 60%),
    linear-gradient(315deg, #020024 0%, #090979 80%);
}
.container {
  width: 420px;
  padding: 40px;
  background: rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  color: white;
  border: 3px solid rgba(136, 31, 234, 0.1) ;
  backdrop-filter: blur(10px);
}
.logo {
  text-align: center;
  color: #ccc;
  font-size: 14px;
}
.container h1 {
  text-align: center;
  color: #4da6ff;
  margin: 10px 0 30px 0;
}
.input-group {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}
.input-group input {
  width: 100%;
  padding: 10px 0;
  border: none;
  border-bottom: 1px solid gray;
  background: transparent;
  color: #fff;
  outline: none;
  transition: 0.3s;
}
.input-group input:focus {
  border-color: #4da6ff;
}
.input-group input::placeholder {
  opacity: 0;
  transition: 0.3s;
}
.input-group input:focus::placeholder {
  opacity: 1;
}
.input-group label {
  position: absolute;
  left: 0;
  top: 12px;
  color: #4da6ff;
  transition: 0.3s;
  pointer-events: none;
}
.input-group input:focus + label,
.input-group input:not(:placeholder-shown) + label{
top:-12px;
font-size:12px;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus{
-webkit-box-shadow: 0 0 0px 1000px transparent inset;
-webkit-text-fill-color: white;
transition: background-color 5000s ease-in-out 0s;
}

.res-button {
  width: 100%;
  padding: 12px 0;
  border: none;
  outline: none;
  border-radius: 8px;
  margin-top: 20px;
  background: #1a73e8;
  cursor: pointer;
  box-shadow:
    3px 3px 5px #1a73e8,
    0 0 5px #1a73e8,
    0 0 5px #1a73e8;
  transition: 0.4s;
}
.res-button a {
  color: white;
  font-size: 16px;
}
.res-button:focus {
  box-shadow:
    3px 5px 5px #1a73e8,
    0 0 10px #1a73e8,
    0 0 10px #1a73e8;
}
.register{
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
}
.register a{
    color: #00ff88;
}
.register i{
    margin-left: 3px;
}
.divider{
    text-align: center;
    margin: 20px 0;
    color: #aaa;
    display: flex;
    justify-content: center;
    align-items: center;
}
.divider::before,
.divider::after{
    flex: 1;
    content: "";
    border-bottom: 1px solid #aaa;
    margin: 0 10px;
}

.social-link {
    width: 100%;
    padding: 10px 0;
    margin-top: 10px;
    border-radius: 6px;
    background: #0c1c33;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.social-link img{
width:25px;
height:25px;
}